*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
    border: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    line-height: 1.3;
}

header {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 5rem;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav * + * {
    margin-left: 0.5rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
}

footer {
    background-color: #b10000;
    color: white;
    text-align: center;
    padding: 1rem;
}

.logo {
    width: 150px;
}

.tab {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.content {
    max-width: 80%;
    margin: auto;
    margin-bottom: 3rem;
}

.homepage {
    animation: appear 1s ease;
}

.homepage > * + * {
    margin-top: 5rem;
}

.hero-image {
    width: 100%;
}

.hour-list > * + * {
    margin-top: 0.5rem;
}

.hour-item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.day {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    width: 100px;
}

.hour {
    font-weight: 700;
    font-size: 1.1rem;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
